# Dependencies
node_modules/

# Angular
.angular/
dist/
out-tsc/

# Cache
.cache/
.cache-loader/
.parcel-cache/
.eslintcache
.stylelintcache
.npm/
.nx/
.sass-cache/
.tmp/
temp/
tmp/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.*
!.env.example

# Coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript cache
*.tsbuildinfo

# Misc temporary files
*.tmp
*.temp